exportClasses(

              )

exportMethods(

              )

export(
        "ssa", 
        "ssa_w_cor",
        "ssa_trans", 
        "warshall", 
        "sincos", 
        "center", 
        "ident", 
        "rconv", 
        "hankel", 
        "fromCross", 
        "is.even" 
)